# TYPE=enterprise appstore ad-hoc development
# Last RELEASE ENTERPRISE BUILDVERSION 100 TODO: 这里的时间用脚本生成
# Last RELEASE APPSTORE BUILDVERSION 130 TODO: 这里的时间用脚本生成.
# RELEASE: indicate whether is need upload dSYMs and ipa to SVN.
# DELIVER_TO_APPSTORE: indicate whether is need upload to AppStore.

TYPE=enterprise
VERSION=1
EP_BUILDVERSION=0
AS_BUILDVERSION=0
DE_BUILDVERSION=0
DELIVER_TO_APPSTORE=false
RELEASE=true
