<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>enterprise</string>
	<key>uploadBitcode</key>
	<false/>
	<key>teamID</key>
	<string>xxxxx</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.xxxx.yyyy</key>
		<string>provisioningProfilesName</string>
	</dict>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>http://xxxx/UOne-free-2.2.6.ipa?t=1472549634827</string>
		<key>displayImageURL</key>
		<string>http://xxxx.UOne_AppIcon_57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>http://xxxx.UOne_AppIcon_512x512.png</string>
		<key>subtitle</key>
		<string>XXXX</string>
		<key>title</key>
		<string>XXXX</string>
	</dict>
</dict>
</plist>
