#!/bin/sh
NEW_MOBILEPROVISION="EnterPrise_Distribution.mobileprovision" # Distribution配置文件
CODESIGN_IDENTITIES="iPhone Distribution: xxxx yyyy & Technology Co., Ltd."  # Distribution版证书的名字
ENTITLEMENTS="Entitlements/production/Entitlements.plist" # 授权文件 不需要修改该字段

NEW_MOBILEPROVISION_DEV="EnterPrise_Development.mobileprovision" # Developer配置文件
CODESIGN_IDENTITIES_DEV="iPhone Developer: xxxx Funny (KxxxxxFP)"  # Developer版证书的名字
ENTITLEMENTS_DEV="Entitlements/developer/Entitlements.plist" # 授权文件 不需要修改该字段
GET_TASK_ALLOW=false #是否打包Developer true重签名为Developer的包 false重签名为Distribution的包
AUTO_INSTALL_IPA=false #是否自动将重签名后的app安装到手机上

NEW_MOBILEPROVISION_FREE="person.mobileprovision" # Distribution配置文件
CODESIGN_IDENTITIES_FREE="Apple Development: 13777726110@139.com (R3X24X6L99)"  # 个人版证书的名字
ENTITLEMENTS_FREE="Entitlements/free/Entitlements.plist" # 授权文件 不需要修改该字段


MINIMUMOSVERSION="10.0"	#ipa最低支持的iOS版本
